<router-outlet />
<div class="container p-2">
  <app-carrello-mini></app-carrello-mini>
  <hr />
  <div class="btn-group" role="group">
    <button
      type="button"
      class="btn btn-primary"
      [class.active]="paginaSelezionata == 'todo'"
      (click)="selezionaPagina('todo')"
    >
      Todo
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [class.active]="paginaSelezionata == 'auto'"
      (click)="selezionaPagina('auto')"
    >
      Auto
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [class.active]="paginaSelezionata == 'carrello'"
      (click)="selezionaPagina('carrello')"
    >
      Carrello
    </button>
  </div>
  <hr />
  @if (paginaSelezionata == "auto") {
  <section>
    <app-auto-list></app-auto-list>
  </section>
  } @if (paginaSelezionata == "todo") {
  <section>
    <app-todo-list></app-todo-list>
  </section>
  } @if (paginaSelezionata == "carrello") {
  <section>
    <app-carrello-full></app-carrello-full>
  </section>
  }
</div>
